
<!DOCTYPE html>
<html lang="EN">
  <head>
    <meta charset="utf-8">
	<title>GM-西山居运维平台</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="x-dns-prefetch-control" content="on" />
	<link rel="dns-prefetch" href="//domain.com/">
	<meta name="Keywords" content="西山居GM系统"/>
	<meta name="description" content="西山居GM系统"/>
	<link href="style.css" type="text/css" rel="stylesheet" />
	<script src="js/commons.js"></script>
  </head>
  <body>
