.f2-masklayout{
	position: fixed;
	top: 0;
	left: 0;
	@include size(100%, 100%);
	@extend %bgcolor-alpha;
	z-index: 50;
	@include display-flex();
	@include justify-content(center);
	@include align-items(center);
	color: #333333;
    @extend .fadeIn;
	animation-duration: 0.5s;
	animation-timing-function: ease;
}

.f2-masklayout-out{
     @extend .fadeOut;
	 animation-duration: 0.5s;
	 animation-timing-function: ease;
}

.f2-tiplayout {
    position: fixed;
	top: 0;
	left: 0;
	@include size(100%, 100%);
	z-index: 51;
	@include display-flex();
	@include justify-content(center);
	@include align-items(center);
	color: #333333;
    
    .msgBox {
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        border: rgba(0,0,0,0.4) 1px solid;
        font-size: 14px;
        text-align: center;
        color: #ffffff;
        box-shadow: #333333 0 0 3px;
        @extend .pulse;
        animation-duration: 0.8s;
        animation-timing-function: ease;
        @include gradient-vertical(darken(#5bb75b, 3%), darken(#5bb75b, 10%));
        
        &.warn {
            color: #ffffff;
            @extend .tada;
            @include gradient-vertical(darken(#ff3d00, 3%), darken(#ff3d00, 10%));
        }
    }
    
    &.out {
        .msgBox {
            @extend .fadeOut;
            animation-duration: 0.8s;
            animation-timing-function: ease;
        }
    }
    
    cite {
            display: inline-block;
	    	@include size(20px, 20px, 20px);
	    	text-align: center;
	    	border: transparent 1px solid;
	    	border-radius: 5px;
	    	color: #999999;
	    	font-weight: 700;
	    	cursor: pointer;
            color: #fafafa;

	    	&:hover {
	    		color: #ffffff;
	    		border-color: #e1e1e1;
	    		@include gradient-vertical(darken(#ff3d00, 3%), darken(#ff3d00, 10%));
	    		background-color: #C66794;
	    		@extend .pulse;
				animation-timing-function: ease-out;
				animation-duration: 0.15s;
	    	}
	 }
}

.f2-modal {
	@include size(500px, auto, auto);
	background-color: #ffffff;
	border-radius: 3px;
	border: rgba(0,0,0,0.4) 5px solid;
	@extend .fadeInDown;
	animation-duration: 0.8s;
    animation-timing-function: ease;

	h3 {
		@include size(100%, 40px, 40px);
	    background-color: #fafafa;

	    strong {
	    	float: left;
	    	padding: 0 10px 0 10px;
		    color: #888888;
		    font-weight: 100;
		    font-size: 16px;
	    }

	    cite {
	    	float: right;
	    	@include size(20px, 20px, 20px);
	    	text-align: center;
	    	margin: 10px 10px 0 0;
	    	border: transparent 1px solid;
	    	border-radius: 5px;
	    	color: #999999;
	    	font-weight: 700;
	    	cursor: pointer;

	    	&:hover {
	    		color: #ffffff;
	    		border-color: #e1e1e1;
	    		@include gradient-vertical(darken(#ff3d00, 3%), darken(#ff3d00, 10%));
	    		background-color: #C66794;
	    		@extend .pulse;
				animation-timing-function: ease-out;
				animation-duration: 0.15s;
	    	}
	    }
	}
}

.f2-fieldset {
	color: #999999;
	border: #cccccc 1px dotted;
	background-color: #fdfdfd;
	margin: 5px 10px 5px 10px;
	border-radius: 3px;

	legend {
		padding: 0 3px 0 3px;
		font-size: 14px;
		text-shadow: #fafafa 1px 1px 1px;
	}
}

.f2-modal-footer {
	padding: 15px 0 15px 0;
	text-align: center;
}

.f2-button {
	margin: 5px 5px 5px 5px;
	padding: 7px 15px 7px 15px;
	background-color: #E6E6E6;
	color: #666666;
	font-size: 14px;
	border-radius: 5px;
	border: transparent 1px solid;
	text-shadow: #e1e1e1 1px 1px 1px;

	&:hover {
		color: #333333;
		border-color: #aaaaaa;
		background-color: #fafafa;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
		@extend .pulse;
		animation-timing-function: ease-out;
		animation-duration: 0.15s;
	}

	&:active {
		color: #666666;
		background-color: #e6e6e6;
		box-shadow: inset #cccccc 1px 1px 1px ;
	}
}

.f2-button-ok {
	@extend .f2-button;
	color: #ffffff;
	text-shadow: none;
	background-color: #546e7a;

	&:hover {
		color: #ffffff;
		background-color: #2881AB;
		border-color: #074E6F;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24), inset #ffffff 0 0 1px;
		@include gradient-vertical(darken(#0775A9, 1%), darken(#0775A9, 3%));
	}

	&:active {
		color: #ffffff;
		background-image: none;
		background-color: #0775A9;
		box-shadow: inset #666666 1px 1px 2px ;
	}
}

.f2-button-green {
	@extend .f2-button;
	color: #ffffff;
	text-shadow: none;
	background-color: #0097a7;

	&:hover {
		color: #ffffff;
		background-color: #2881AB;
		border-color: #074E6F;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24), inset #ffffff 0 0 1px;
		@include gradient-vertical(darken(#00bcd4, 1%), darken(#00bcd4, 3%));
	}

	&:active {
		color: #ffffff;
		background-image: none;
		background-color: #0097a7;
		box-shadow: inset #666666 1px 1px 2px ;
	}
}

.f2-control-nav {
	text-align: center;
	ul {
		@include size(auto, 35px, 35px);
		margin: 0 auto 0 auto;
		display: inline-block;
		text-align: center;
		border-radius: 5px;
		border: #cccccc 1px dotted;
		background-color: #fdfdfd;
		overflow: hidden;
		font-size: 0;

		&:hover {
			border: #e1e1e1 1px solid;
		}
	}
	

	li {
		padding: 0 8px 0 8px;
		display: inline-block;
		font-size: 14px;
	    color: #333333;
	    text-shadow: #e1e1e1 1px 1px 1px;
	    cursor: pointer;
	    border-left: transparent 1px solid;
		border-right: transparent 1px solid;

		@extend .fadeInLeftBig;
		animation-duration: 0.2s;

		@for $i from 1 through 20 {
			&:nth-child(#{$i}){
			   @include animation-duration(0.1s * $i);
			}
		}

		&.n1 {
			background-color: #efefef;
		}

		&.n2 {
			background-color: #efefef;
		}

		&.n3 {
			background-color: #efefef;
		}
	   
	    &.selected,
	    &:hover {
	    	color: #ffffff;
	    	background-color: #586E94;
	    	text-shadow: #777777 -1px -1px 1px;
	    	@include gradient-vertical(#6FADD9,#5DA1D4, #4A93CC);
			border-left: #3F80B6 1px solid;
			border-right: #3F80B6 1px solid;
	    }
	}
}

.f2-control {
	position: relative;
	z-index: 1;
	padding: 5px 0 5px 0;
	min-width: 130px;
	width: 24%;
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
	@extend .slideInDown;
	animation-timing-function: ease-out;
	@for $i from 0 through 30 {
		&:nth-child(#{$i}){
			animation-duration: 0.3s + (0.2 * $i);
		}
	}

	.label {
		display: block;
		padding: 5px 0 5px 0;
	}

	.tip {
		display: none;
		position: absolute;
		bottom: 40px;
		right: 0;
		padding: 5px 5px 5px 5px;
		max-width: 230px;
		border-radius: 5px;
		border: #bbbbbb 1px solid;
		background-color: darken(#ffffff, 5%);
		color: #777777;
		font-size: 12px;
		text-shadow: #efefef 1px 1px 1px;
		box-shadow: #e1e1e1 0 0 3px;
		@include gradient-vertical(darken(#ffffff, 3%), darken(#ffffff, 5%));

		&:before {
			position: absolute;
			right: 15px;
   			bottom: -17px;
			content: '';
			@include size(0, 0);
			border: transparent 8px solid;
			border-top-color: #cccccc;
    		z-index: 2;
		}

		&:after {
			position: absolute;
			right: 15px;
    		bottom: -15px;
			content: '';
			@include size(0, 0);
			border: transparent 8px solid;
			border-top-color: #eeeeee;
    		z-index: 3;
		}
	}

	.tools {
		position: absolute;
		bottom: -25px;
		width: 100%;
		visibility: hidden;
		padding: 5px 0 5px 0;
		display: block;
		text-align: right;


		a {
			display: inline-block;
			@include size(20px, 20px, 20px);
			border: #e1e1e1 1px solid;
			border-radius: 20px;
			text-align: center;
			color: #999999;

			&:hover {
				background-color: #2196f3;
				color: #ffffff;
				@extend .pulse;
				animation-timing-function: ease-out;
				animation-duration: 0.3s;
			}
		}
	}

	&:hover {
		z-index: 2;
		.tools {
			visibility: visible;
			@extend .jello;
			animation-timing-function: ease-out;
			animation-duration: 0.5s;
		}
	}
}

.f2-container {
	margin: 10px 0 10px 0;
	min-height: 300px;

	.f2-control {
		@extend .bounce;
		@include animation-duration(0.2s);

		@for $i from 1 through 30 {
			&:nth-child(#{$i}){
			   @include animation-duration(0.12s * $i);
			}
		}
	}
}

.f2-container-footer {
	padding: 10px 0 10px 0;
	text-align: right;
}

.f2-container-config {
	padding: 10px 0 0 0;
	text-align: right;
	ul {
		@include size(auto, 35px, 35px);
		margin: 0 auto 0 auto;
		display: inline-block;
		text-align: center;
		border-radius: 5px;
		border: #e1e1e1 1px solid;
		background-color: #fafafa;
		overflow: hidden;
		font-size: 0;
		clear: both;
		box-shadow: #e1e1e1 0 0 3px;

		&:hover {
			border: #e1e1e1 1px solid;
		}
	}

	li {
		padding: 0 5px 0 5px;
		display: inline-block;
		font-size: 14px;
	    color: #333333;
	    text-shadow: #e1e1e1 1px 1px 1px;
	    border-left: transparent 1px solid;
		border-right: transparent 1px solid;

		@extend .slideInDown;
		animation-timing-function: ease;

		@for $i from 1 through 20 {
			&:nth-child(#{$i}){
			   @include animation-duration(0.2s * $i);
			}
		}
	}

	.select {
		border: #aaaaaa 1px solid;
    	font-size: 13px;
    	text-shadow: #dddddd 1px 1px 1px;
	}
}

.f2-editor {
	border-top: #cccccc 1px dotted;
	border-bottom: #cccccc 1px dotted;
}

.f2-text {
	width: 92%;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
	border: #cccccc 1px dotted;

	&:focus {
		border: #bbbbbb 1px solid;
		box-shadow: inset #e1e1e1 1px 1px 1px;
		transition: all 0.1s linear;
		@extend .pulse;
		animation-timing-function: ease-out;
		animation-duration: 0.3s;

		+ .tip {
			display: block;
			@extend .slideInDown;
			animation-timing-function: ease-out;
			animation-duration: 0.1s;
		}
	}
}

.f2-selector {
	position: relative;
	width: 95%;
	cursor: pointer;

	p {
		position: relative;
		display: block;
		padding: 5px 5px 5px 5px;
		border-radius: 5px;
		border: #cccccc 1px dotted;
		cursor: pointer;

		&:before {
			position: absolute;
			right: 2%;
			top: 40%;
			@include size(0, 0);
			border: transparent 6px solid;
			border-top-color: #888888;
			content: '';
			transition: transform 0.3s linear;
		}
	}

	&:hover {
		p {
			border: #bbbbbb 1px solid;
			box-shadow: inset #e1e1e1 1px 1px 1px;
			transition: all 0.1s linear;

			&:before {
				top: 20%;
				transform: rotate(180deg);
			}
		}
	}

	span {
		color: #777777;
		display: inline-block;
		transition: transform 0.05s linear;
		@extend .zoomInDown;
		animation-timing-function: ease-out;
		@for $i from 1 through 50 {
			&:nth-child(#{$i}){
			   @include animation-duration(0.2s * $i);
			}
		}

		&:hover {
			transform: scale(1.1);
			color: #f50057;
		}
	}

	.placeholder {
		color: #bbbbbb;
	}
}

.f2-options {
	position: absolute;
	z-index: 10;
	top: 32px;
	width: 100%;
	padding: 5px 0 5px 0;
	border: #e1e1e1 1px solid;
	background-color: #ffffff;
	box-sizing: border-box;
	box-shadow: #e1e1e1 0 0 5px;
	border-radius: 3px;
	text-align: center;

	.f2-text {
		display: inline-block;
		width: 95%;
		box-sizing: border-box;
		box-shadow: inset #e1e1e1 1px 1px 1px;
		background-color: #fafafa;
	}

	ul {
		padding: 5px 8px 0 8px;
		min-height: 100px;
		max-height: 300px;
		overflow-y: auto;
	}

	li {
		text-align: left;
		padding: 5px 5px 5px 5px;
		border-radius: 5px;
		text-shadow: #e1e1e1 1px 1px 1px;
		transition: transform 0.1s linear;
		&.selected,
		&:hover {
			color: #ffffff;
			cursor: pointer;
			text-shadow: none;
			transform: scale(1.05);
			@include gradient-vertical(darken(#1976d2, 1%), darken(#1976d2, 8%));
		}

		&.selected {
			background: #546e7a;

			&:hover {
				@include gradient-vertical(darken(#1976d2, 1%), darken(#1976d2, 8%));
			}
		}
	}
}

.f2-checkbox-two {
	@include size(40px, 18px, 20px);
	display: inline-block;
	vertical-align: middle;
	background-color: #00897b;
	border-radius: 9px;
	border: darken(#fafafa, 30%) 1px solid;
	cursor: pointer;
	@include gradient-vertical(darken(#fafafa, 10%), darken(#fafafa, 5%));
	transition: all 0.2s linear;
	@extend .pulse;
	animation-timing-function: ease-out;
	animation-duration: 0.15s;

	span {
		position: relative;
		float: left;
		@include size(16px, 16px);
		border-radius: 10px;
		border: darken(#fafafa, 55%) 1px solid;
		@include gradient-vertical(darken(#fafafa, 2%), darken(#fafafa, 5%));
		transition: all 0.2s linear;
		box-shadow: #999999 0 0 1px;

	}

	&:hover {
		border-color: darken(#eeeeee, 30%);

	}

	&.active {
		border-color: darken(#42a5f5, 20%);
		@include gradient-vertical(darken(#42a5f5, 15%), darken(#42a5f5, 3%));
		span {
			transform: 	translateX(22px);
		}
	}
}


.f2-control-inline {
	vertical-align: top;
	.label {
		display: none;
	}
}

.f2-control-half {
	width: 49%;
}

.f2-control-full {
	width: 100%;
}

.f2-control-error {
	.tip {
		color: #ffffff;
		@include gradient-vertical(darken(#ec407a, 3%), darken(#ec407a, 10%));
		border-color: darken(#ec407a, 25%);
		text-shadow: none;
		box-shadow: inset #ffffff 0 0 2px;
		&:before {
	   		border-top-color: darken(#ec407a, 25%);
	   	}
	   	&:after {
	   		border-top-color: darken(#ec407a, 10%);
	   	}
	}

	.f2-text {
		border-color: #ff4081;
		color: #ff4081;
	}
}


.f2-control-success { 
	.f2-text {
		border-color: #388e3c;
		color: #388e3c;

		& + .tip {
			display: none;
		}
	}

}

.f2-preview {
	.f2-control {
		display: block;
		margin: 0 auto 0 auto;

		.tip {
			display: block;
		}
	}
}
